.fanhui {
    // z-index 999;
    display inline-block;
    margin-top -0.1rem;
    margin-right 0.3rem;
    width 0.4rem;
    height 0.4rem;
    background url('../../assets/font/fanhui.svg') no-repeat;
    background-size 100%;
    vertical-align middle;
}