@import '../../stylus/index';

.top_nav {
    padding 0.3rem;
    height 0.4rem;
    background $primary;

    span {
        color #fff;
    }

    .bianji {
        position absolute;
        top 0.2rem;
        right 0.1rem;
        display inline-block;
        width 0.6rem;
        height 0.6rem;
        background url('../../assets/font/bianji.svg') no-repeat;
        background-size 100%;
        vertical-align middle;
    }
}

.con {
    .long {
        line-height 0.9rem;

        .zhankai {
            position absolute;
            right 0;
            display inline-block;
            margin-top 0.1rem;
            margin-right 0.3rem;
            width 0.4rem;
            height 0.4rem;
            background url('../../assets/font/pinglun/shouqi.svg') no-repeat;
            background-size 100%;
            vertical-align middle;
        }

        .shouqi {
            position absolute;
            right 0;
            display inline-block;
            margin-top 0.1rem;
            margin-right 0.3rem;
            width 0.4rem;
            height 0.4rem;
            background url('../../assets/font/pinglun/zhankai.svg') no-repeat;
            background-size 100%;
            vertical-align middle;
        }
    }

    .short {
        line-height 0.9rem;

        .zhankai {
            position absolute;
            right 0;
            display inline-block;
            margin-top 0.1rem;
            margin-right 0.3rem;
            width 0.4rem;
            height 0.4rem;
            background url('../../assets/font/pinglun/shouqi.svg') no-repeat;
            background-size 100%;
            vertical-align middle;
        }

        .shouqi {
            position absolute;
            right 0;
            display inline-block;
            margin-top 0.1rem;
            margin-right 0.3rem;
            width 0.4rem;
            height 0.4rem;
            background url('../../assets/font/pinglun/zhankai.svg') no-repeat;
            background-size 100%;
            vertical-align middle;
        }
    }
}

.sofa {
    margin-left 2rem;
}